html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/*  font-family: 'Raleway', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Droid Serif' , sans-serif;
*/
body{
    background-color: rgb(139, 139, 139);
}
.wrapper{
    max-width: 2570px;
    width: 100%;
    margin: 0 auto;
}
.center{
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}
.cont1{
    height: 100px;
    background-color: #202020;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;

}
.navbar .logo {
    display: block;
    margin-top: 10px;
}
.navbar .logo h5{
    color: white;
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;

}
.navbar .menu ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.navbar .menu li{
    display: inline-block;
    padding: 14px;
    margin-top: 25px;
}
.navbar .menu li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.navbar .menu li:hover{
    background-color: #e25050;
}

.cont2{
    overflow: hidden;/*вопросы по поводу адаптива картинки и третьего блока*/
    max-height: 581px;
    height: auto;
    background-color: thistle;
}
.cont2 .carousel-caption{
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    top: 30%;
    text-align: left;
    padding-left: 1%;
 }
 .cont2 span{
     
     background-color: #202020;
     padding: 15px;
     border-radius: 50%;
 }
 .cont2 .carousel-caption p{
     display: inline-block;
     background-color:#d04c4c;
     font-family: 'Oswald', sans-serif;
     font-size: 15px;
     padding: 7px;
     margin: 0;
     margin-bottom: 5px;

 }
 
 .cont2 .carousel-caption h5{
    display: inline-block;
    background-color:#262524;
    font-family: 'Oswald', sans-serif;
     font-size: 30px;
     font-weight: 700;
     text-transform: uppercase;
     padding: 20px;
     margin: 0;
     margin-bottom: 5px;
}
.cont2 .carousel-caption h2{
    display: inline-block;
    background-color:#262524;
    font-family: 'Oswald', sans-serif;
     font-size: 18px;
     text-transform: uppercase;
     padding: 16px;
}

.cont3 {
    height: 970px;
    background-color: #fff;
}
.cont3 .cont3txt h2{
    padding-top: 70px;
    text-align: center;
    margin-bottom: 1%;
    font-family: 'Oswald', sans-serif;
    font-size: 30px ;
    font-weight: 700 ;
}
.cont3 .cont3txt P{
    text-align: center;
    margin-bottom: 5%;
    font-family: 'Droid Serif' , sans-serif;
    font-size: 16px;
    

}
.cont3 .cont3txt span{
    color: #e25050;
}
.cont3 .cont3cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.cont3 .cont3cards .cards {
    min-width: 210px;
    max-width: 370px;
    margin: 10px;
    margin-bottom: 20px;
    text-align: center;
}
.cont3 .cont3cards .cards img {
    max-width: 75px;
    margin: 0 auto;
    margin-bottom: 15px;
    
}
.cont3 .cont3cards .cards h2{
    margin-bottom: 35px;
    font-family: 'Oswald', sans-serif;
    font-size: 18px ;
    font-weight: 700 ;
    text-transform: uppercase;
}
.cont3 .cont3cards .cards p{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}

.cont4{
    height: 875px;
    background: url(/imgs/cont4fon.png) ;
}
.cont4 .cont4txt{
    text-align: center;
}
.cont4 .cont4txt h2{
    padding-top: 65px;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-size: 24px ;
    font-weight: 700 ;
}
.cont4 .cont4txt hr{
    background-color: #fff;
    width: 50px;
    margin-bottom: 25px;
    
}
.cont4 .trainer_cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.cont4 .trainers{
    height:315px ;
    width: 270px;
    background-color: #fff;
    margin: 11px;
    margin-top: 0;
    margin-bottom: 30px;
}
.cont4 .trainers .face h2{
    margin-top: 22px;
    margin-left: 20px;
    margin-bottom: 5px;
    font-family: 'Oswald', sans-serif;
    font-size: 14px ;
    font-weight: 700 ;
    text-transform: uppercase;
}
.cont4 .trainers .face h3{
    font-family: 'Oswald', sans-serif;
    font-size: 14px ;
    color: #c4c4c4;
    text-transform: uppercase;
    margin-left: 20px;
}
.cont4 .trainers .back h2{
    padding-top: 35px;
    margin-left: 20px;
    margin-bottom: 5px;
    font-family: 'Oswald', sans-serif;
    font-size: 14px ;
    font-weight: 700 ;
    text-transform: uppercase;
}
.cont4 .trainers .back h3{
    font-family: 'Oswald', sans-serif;
    font-size: 14px ;
    color: #c4c4c4;
    text-transform: uppercase;
    margin-left: 22px;
}
.cont4 .trainers .back p{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #9b9b9b;
    width: 240px;
    margin: 0;
    margin-left: 20px;
}
.cont4 .trainers .back .links{
    padding-top: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.cont4 .trainers .back .links a{
    margin: 0;
    padding: 0;
}
.cont4 .trainers .back .links a svg{
    color: #9b9b9b;
}
.cont4 .trainers .back .links a svg:hover{
    color: #e25050;
}
.cont4 .trainers .back{
    display: none;
}
.cont4 .trainers:hover .back{
    display: inline-block;
}
.cont4 .trainers:hover .face{
    display: none;
}

.cont5{
    height: 1325px;
    background-color: #fff;
}
.cont5 .center{
    text-align: center;
}
.cont5 .cont5txt h2{
    padding-top: 65px;;
    font-family: 'Oswald', sans-serif;
    font-size: 24px ;
    font-weight: 700 ;
}
.cont5 .cont5txt hr{
    background-color: #555;
    width: 50px;
    
    margin-bottom: 25px;
}
.cont5 .cont5txt p{
    max-width: 530px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #9b9b9b;
    padding-left: 10px;
    padding-right: 10px;
}
.cont5 .center .foto_cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.cont5 .fotocrd{
    height:235px ;
    width: 270px;
    background-color: #fff;
    margin: 11px;
    margin-top: 30px;
}
.cont5 .fotocrd .bgc{
    background-color: #e97c7c;
}
.cont5 .fotocrd .sub{
    position: absolute;
    width: 42px;
    height: 42px;
    padding-left: 110px;
    margin-top: -120px;
    display: none;
}
.cont5 .fotocrd:hover .bgc .main{
    opacity: 0.7;   
    
}
.cont5 .fotocrd:hover .sub{
    display: block;
    opacity: 1;
    
}
.cont5 .fotocrd h2{
    margin:0;
    font-family: 'Oswald', sans-serif;
    font-size: 14px ;
    font-weight: 700 ;
    text-transform: uppercase;
    text-align: left;
    margin-top: 14px;
}
.cont5 .fotocrd h3{
    font-family: 'Oswald', sans-serif;
    font-size: 14px ;
    color: #c4c4c4;
    text-transform: uppercase;
    margin:0;
    text-align: left;
    margin-top: 9px;
}
.cont6 {
    height: 740px;
    background-color: #e25050;
}
.cont6 .center{
    text-align: center;
}
.cont6 .cont6txt h2{
    padding-top: 65px;;
    font-family: 'Oswald', sans-serif;
    font-size: 24px ;
    font-weight: 700 ;
    color: #fff;
}
.cont6 .cont6txt hr{
    background-color: #fff;
    width: 50px;
    margin-bottom: 60px;
}
.cont6 .prices{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.cont6 .card{
    width: 370px;
    height: 505px;
    background-color: #d14343;
    border: none;
}
.cont6 .card h2{
    padding-top: 65px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 18px ;
    font-weight: 700 ;
    color: #fff;
}
.cont6 .card .price{
    padding-top: 60px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 34px ;
    font-weight: 700 ;
    color: #fff;
    margin-bottom: 30px;
}
.cont6 .card .price span{
    font-size: 14px ; 
    margin-bottom: -100px;
    vertical-align: text-top;
}
.cont6 .card ul {margin: 0 auto;}
.cont6 .card ul li{
    margin: 12px;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #fff;
}
.cont6 .card ul li svg{
    margin-right: 15px;
    color: #fff;
    font-size: 9px;
}
.cont6 .card a{
    width: 230px;
    margin: 0 auto;
    margin-top: 20px;
    padding-top: 9px;
    padding-bottom: 9px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 20px ;
    font-weight: 700 ;
    color: #fff;
    background-color:#e25050;
    vertical-align: middle;
}
.cont6 .card:hover{
    border: solid 1px white;
    background-color: #e25050;
}
.cont6 .card:hover a{
    background-color: #fff;
    color:#e25050 ;
}
/*************************************************************************/
@media (max-width: 1170px){
    .cont3 {height: 1230px;}
    .cont4 {height: 1210px;}
    .cont5 {height: 1850px;}
}

@media (max-width: 1000px){
    .cont2 .carousel-caption{
        top: 30%;
}

@media (max-width: 875px){
    .cont4 {height: 1550px;}
    .cont5 {height: 2400px;}
}

@media (max-width: 800px){
    .cont2 .carousel-caption{
        top: 20%;
}

@media (max-width: 780px){
    .cont3 {height: 2240px;}
}

@media (max-width: 583px){
    .cont4 {height: 2950px;}
    .cont5 {height: 4650px;}
}